xslt/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="uri:hui" targetNamespace="uri:hui" elementFormDefault="qualified">

  <xs:element name="gui" type="gui"/>
  <xs:complexType name="gui">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="controller" type="controller"/>
      <xs:element name="style" type="style"/>
      <xs:element name="script" type="script"/>
      <xs:element name="source" type="source"/>
      <xs:element name="box" type="box"/>
      <xs:element name="fragment" type="fragment"/>
      <xs:element name="text" type="text"/>
      <xs:element name="window" type="window"/>
      <xs:element name="space" type="space"/>
      <xs:element name="dock" type="dock"/>
      <xs:element name="structure" type="structure"/>
      <xs:element name="boundpanel" type="boundpanel"/>
      <xs:element name="managed" type="managed"/>
      <xs:element name="bar" type="bar"/>
      <xs:element name="toolbar" type="toolbar"/>
      <xs:element name="fragment" type="fragment"/>
      <xs:element name="div" type="div"/>
    </xs:choice>
    <xs:attribute name="padding" type="xs:positiveInteger"/>
    <xs:attribute name="background" type="xs:string"/>
    <xs:attribute name="title" type="xs:string"/>
    <xs:attribute name="state" type="xs:string"/>
  </xs:complexType>

  <xs:element name="controller" type="controller"/>
  <xs:complexType name="controller">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="url" type="xs:string"/>
  </xs:complexType>


  <xs:complexType name="space">
    <xs:attribute name="height" type="xs:positiveInteger"/>
  </xs:complexType>

  <xs:complexType name="source">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="parameter" type="source_parameter"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="url" type="xs:string"/>
    <xs:attribute name="lazy" type="xs:boolean"/> <!-- TODO -->
  </xs:complexType>

  <xs:complexType name="source_parameter">
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <!-- Structure -->

  <xs:element name="structure" type="structure"/>
  <xs:complexType name="structure">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="top" type="structure_top"/>
      <xs:element name="middle" type="structure_middle"/>
      <xs:element name="bottom" type="structure_bottom"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="structure_top">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="toolbar" type="toolbar"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="structure_bottom">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="button" type="button"/>
      <xs:element name="toolbar" type="toolbar"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="structure_middle">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="left" type="structure_left"/>
      <xs:element name="center" type="structure_center"/>
      <xs:element name="middle" type="structure_right"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="structure_left">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="selection" type="selection"/>
      <xs:element name="overflow" type="overflow"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="structure_center">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any></xs:any>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="structure_right">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any></xs:any>
    </xs:choice>
  </xs:complexType>

  <!-- Overflow -->

  <xs:element name="overflow" type="overflow"/>
  <xs:complexType name="overflow">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any></xs:any>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <!-- Overflow -->

  <xs:element name="calendar" type="calendar"/>
  <xs:complexType name="calendar">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="state" type="xs:string"/>
    <xs:attribute name="source" type="xs:string"/>
  </xs:complexType>


  <!-- Buttons -->

  <xs:element name="buttons" type="buttons"/>
  <xs:complexType name="buttons">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="button" type="button"/>
    </xs:choice>
    <xs:attribute name="top" type="xs:integer"/>
  </xs:complexType>

  <!-- Button -->

  <xs:element name="button" type="button"/>
  <xs:complexType name="button">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="confirm" type="confirm" minOccurs="0" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="text" type="xs:string"/>
    <xs:attribute name="icon" type="xs:string"/>
    <xs:attribute name="role" type="xs:string"/>
    <xs:attribute name="click" type="xs:string"/> <!-- TODO -->
    <xs:attribute name="submit" type="xs:boolean"/>
    <xs:attribute name="small" type="xs:boolean"/>
    <xs:attribute name="mini" type="xs:boolean"/>
    <xs:attribute name="highlighted" type="xs:boolean"/>
    <xs:attribute name="variant">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="light"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!-- Confirm -->

  <xs:complexType name="confirm">
    <xs:attribute name="text" type="xs:string"/>
    <xs:attribute name="ok" type="xs:string"/>
    <xs:attribute name="cancel" type="xs:string"/>
  </xs:complexType>

  <!-- Pages -->

  <xs:element name="pages" type="pages"/>
  <xs:complexType name="pages">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="page" type="pages_page"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="height" type="xs:string" fixed="full"/>
  </xs:complexType>

  <xs:complexType name="pages_page">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any></xs:any>
    </xs:choice>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <!-- Selection -->

  <xs:element name="selection" type="selection"/>
  <xs:complexType name="selection">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="option" type="selection_option"/>
      <xs:element name="options" type="selection_options"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="top" type="xs:integer"/>
  </xs:complexType>

  <xs:complexType name="selection_option">
    <xs:attribute name="text" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="icon" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="selection_options">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="source" type="xs:string"/>
    <xs:attribute name="title" type="xs:string"/>
  </xs:complexType>

  <!-- Tabs -->

  <xs:element name="tabs" type="tabs"/>
  <xs:complexType name="tabs">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tab" type="tabs_tab"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="centered" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="tabs_tab">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="source" type="xs:string"/>
    <xs:attribute name="title" type="xs:string"/>
    <xs:attribute name="padding" type="xs:positiveInteger"/>
  </xs:complexType>

  <!-- Bar -->

  <xs:element name="bar" type="bar"/>
  <xs:complexType name="bar">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="text" type="bar_text" minOccurs="0" maxOccurs="1"/>
      <xs:element name="right" type="bar_right" minOccurs="0" maxOccurs="1"/>
      <xs:element name="button" type="bar_button"/>
      <xs:element name="checkbox" type="checkbox"/>
      <xs:element name="dropdown" type="dropdown"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="variant">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="layout"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="bar_right">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="button" type="bar_button"/>
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="bar_text">
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>


  <xs:complexType name="bar_button">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="selected" type="xs:boolean"/>
    <xs:attribute name="text" type="xs:string"/>
    <xs:attribute name="icon" type="xs:string"/>
    <xs:attribute name="click" type="xs:string"/> <!-- TODO -->
  </xs:complexType>

  <!-- Toolbar -->

  <xs:element name="toolbar" type="toolbar"/>
  <xs:complexType name="toolbar">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="icon" type="toolbar_icon"/>
      <xs:element name="right" type="toolbar_right" minOccurs="0" maxOccurs="1"/>
      <xs:element name="item" type="toolbar_item"/>
      <xs:element name="divider" type="toolbar_divider"/>
      <xs:element name="button" type="button"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="centered" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="toolbar_right">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="icon" type="toolbar_icon"/>
      <xs:element name="item" type="toolbar_item"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="toolbar_divider">
  </xs:complexType>

  <xs:complexType name="toolbar_item">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="searchfield" type="searchfield"/>
      <xs:element name="segmented" type="segmented"/>
    </xs:choice>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="toolbar_icon">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="confirm" type="confirm"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="icon" type="xs:string"/>
    <xs:attribute name="badge" type="xs:string"/>
    <xs:attribute name="overlay" type="xs:string"/>
    <xs:attribute name="text" type="xs:string"/>
    <xs:attribute name="click" type="xs:string"/>
    <xs:attribute name="disabled" type="xs:boolean"/>
    <xs:attribute name="selected" type="xs:boolean"/>
  </xs:complexType>

  <!-- Bound panel -->

  <xs:element name="searchfield" type="searchfield"/>
  <xs:complexType name="searchfield">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="placeholder" type="xs:string"/>
    <xs:attribute name="expanded-width" type="xs:integer"/>
  </xs:complexType>

  <!-- Bound panel -->

  <xs:element name="boundpanel" type="boundpanel"/>
  <xs:complexType name="boundpanel">
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <!-- Dock -->

  <xs:element name="dock" type="dock"/>
  <xs:complexType name="dock">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="tabs" type="tabs"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="url" type="xs:string"/>
    <xs:attribute name="frame-name" type="xs:string"/>
    <xs:attribute name="position" type="xs:string"/>
  </xs:complexType>

  <!-- Style -->

  <xs:element name="style" type="style"/>
  <xs:complexType name="style">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="url" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Style -->

  <xs:element name="script" type="script"/>
  <xs:complexType name="script">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="url" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Fragment -->

  <xs:element name="fragment" type="fragment"/>
  <xs:complexType name="fragment">
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <!-- Box -->

  <xs:element name="box" type="box"/>
  <xs:complexType name="box">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:any/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="title" type="xs:string"/>
    <xs:attribute name="padding" type="xs:positiveInteger"/>
    <xs:attribute name="top" type="xs:positiveInteger"/>
    <xs:attribute name="width" type="xs:integer"/>
    <xs:attribute name="closable" type="xs:boolean"/>
    <xs:attribute name="variant">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="rounded|textured"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!-- rows -->

  <xs:element name="rows" type="rows"/>
  <xs:complexType name="rows">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="row" type="rows_row"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="rows_row">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:any/>
    </xs:choice>
    <xs:attribute name="height">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="content"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!-- Split -->

  <xs:element name="split" type="split"/>
  <xs:complexType name="split">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="row" type="split_row"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="split_row">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:any/>
    </xs:choice>
    <xs:attribute name="height">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]+%"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!-- Text -->

  <xs:element name="text" type="text"/>
  <xs:complexType name="text">
    <xs:attribute name="align" type="xs:string"/>
  </xs:complexType>

  <!-- HTML stuff -->

  <xs:element name="div" type="div"/>
  <xs:complexType name="div" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any/>
    </xs:choice>
    <xs:attribute name="class" type="xs:string"/>
  </xs:complexType>

  <xs:element name="span" type="span"/>
  <xs:complexType name="span" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="span" type="span"/>
    </xs:choice>
    <xs:attribute name="class" type="xs:string"/>
  </xs:complexType>

  <xs:element name="h1" type="h1"/>
  <xs:complexType name="h1" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="span" type="span"/>
    </xs:choice>
    <xs:attribute name="class" type="xs:string"/>
  </xs:complexType>

  <xs:element name="h2" type="h2"/>
  <xs:complexType name="h2" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="span" type="span"/>
    </xs:choice>
    <xs:attribute name="class" type="xs:string"/>
  </xs:complexType>

  <!-- Text -->

  <xs:element name="list" type="list"/>
  <xs:complexType name="list">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="state" type="xs:string"/>
    <xs:attribute name="source" type="xs:string"/>
    <xs:attribute name="url" type="xs:string"/> <!-- TODO -->
  </xs:complexType>

  <!-- Window -->

  <xs:element name="window" type="window"/>
  <xs:complexType name="window">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="back" type="window_back"/>
      <xs:element name="formula" type="formula"/>
      <xs:element name="text-input" type="text-input"/>
      <xs:element name="buttons" type="buttons"/>
      <xs:element name="button" type="button"/>
      <xs:element name="toolbar" type="toolbar"/>
    </xs:choice>
    <xs:attribute name="title" type="xs:string"/>
    <xs:attribute name="icon" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="width" type="xs:string"/>
    <xs:attribute name="padding" type="xs:positiveInteger"/>
    <xs:attribute name="variant">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="dark|light|news"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="window_back">
    <xs:choice>
      <xs:any/>
    </xs:choice>
  </xs:complexType>

  <!-- Segmented -->

  <xs:element name="segmented" type="segmented"/>
  <xs:complexType name="segmented">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="option" type="segmented_option"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="segmented_option">
    <xs:attribute name="icon" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="text" type="xs:string"/>
  </xs:complexType>

  <!-- Managed -->

  <xs:element name="managed" type="managed"/>
  <xs:complexType name="managed">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="window" type="window"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="save-url" type="xs:string"/>
    <xs:attribute name="delete-url" type="xs:string"/>
    <xs:attribute name="read-url" type="xs:string"/>
  </xs:complexType>

  <!-- Formula -->

  <xs:element name="formula" type="formula"/>
  <xs:complexType name="formula">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="header"/>
      <xs:element name="fields" type="fields"/>
      <xs:element name="text" type="text"/>
      <xs:element name="buttons" type="buttons"/>
      <xs:element name="fieldset" type="fieldset"/>
      <xs:element name="space" type="space"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="state" type="xs:string"/>
    <xs:attribute name="padding" type="xs:positiveInteger"/>
  </xs:complexType>

  <xs:complexType name="fieldset">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="fields" type="fields"/>
    </xs:choice>
    <xs:attribute name="legend" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="fields">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="field" type="field"/>
    </xs:choice>
    <xs:attribute name="labels">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="above|before"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="field" type="field"/>
  <xs:complexType name="field">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any/>
    </xs:choice>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>

  <xs:element name="text-input" type="text-input"/>
  <xs:complexType name="text-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="correction" type="xs:boolean"/>
    <xs:attribute name="secret" type="xs:boolean"/>
    <xs:attribute name="adaptive" type="xs:boolean"/>
    <xs:attribute name="breaks" type="xs:boolean"/>
  </xs:complexType>

  <xs:element name="number-input" type="number-input"/>
  <xs:complexType name="number-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="dropdown" type="dropdown"/>
  <xs:complexType name="dropdown">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="source" type="source" minOccurs="0" maxOccurs="1"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="source" type="xs:string"/>
    <xs:attribute name="placeholder" type="xs:string"/>
  </xs:complexType>

  <xs:element name="tokens" type="tokens"/>
  <xs:complexType name="tokens">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="checkbox" type="checkbox"/>
  <xs:complexType name="checkbox">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="checkboxes" type="checkboxes"/>
  <xs:complexType name="checkboxes">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="option" type="checkboxes_option"/>
      <xs:element name="options" type="checkboxes_options"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="checkboxes_option">
    <xs:attribute name="text" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="checkboxes_options">
    <xs:attribute name="source" type="xs:string"/>
  </xs:complexType>

  <xs:element name="style-length-input" type="style-length-input"/>
  <xs:complexType name="style-length-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="color-input" type="color-input"/>
  <xs:complexType name="color-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="location-input" type="location-input"/>
  <xs:complexType name="location-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="font-input" type="font-input"/>
  <xs:complexType name="font-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="object-input" type="object-input"/>
  <xs:complexType name="object-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="image-input" type="image-input"/>
  <xs:complexType name="image-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="datetime-input" type="datetime-input"/>
  <xs:complexType name="datetime-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="link-input" type="link-input"/>
  <xs:complexType name="link-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
  </xs:complexType>

  <xs:element name="code-input" type="code-input"/>
  <xs:complexType name="code-input">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="key" type="xs:string"/>
    <xs:attribute name="height">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="full|[0-9]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

</xs:schema>
